<div class="container">
  <h1>Evénement créé par <%= @event.admin.email %></h1>

  <%= link_to "Voir le profil", user_path(@event.admin.id), :class => "btn btn-primary" %>
  <br><br>
  <h5><strong><%= @event.title %></h5></strong>
    <hr class="style1">
    <p>Date de début : <%= @event.start_date %><br>
    Date de fin : <%=@event.start_date + @event.duration*60%><br>
    Prix : <%= @event.price %> €<br>
    Lieu : <%= @event.location %><br>
    Description : <%= @event.description %><br>
    Nombre d'inscrits : <%= @event.attendances.count %></p>
    </div>
</div>